<h2 class="whitefont">Saved Events</h2>
<section class="whitefont">
{{#each faves as |fave|}}
<div id="event-card">


    <h3 id="event-title">{{fave.title}}</h3>

    <h4 id="event-date">{{fave.description}}</h4>

    <p id="event-desc">{{fave.address}}</p>

    <p id="event-price">Price: ${{fave.price}}</p>



</div>
{{/each}}
</section>
