<h1 class="header">Login!</h1>
<section class="whitefont">

<div id="login-container">
    <h2>Log in if you Dare!</h2>
<form id="login-form">

    <input class="form-input" type="text" placeholder="username" id="username-login" />

    <input class="form-input" type="password" placeholder="password" id="password-login" />

    <button type="submit">Login</button>

    <br><br>


</form>
</div>

</section>

<script src="/js/login.js"></script>

