<h1 class="header">Login!</h1>
<section class="whitefont">

<div id="login-container">
    <h2>Log in if you Dare!</h2>
    <br>
<form id="login-form">

    <input style="color:black;" class="form-input" type="text" placeholder="Username 👻" id="username-login" />

    <input style="color:black;" class="form-input" type="password" placeholder="Password 👻" id="password-login" />

    <button type="submit">Login</button>

    <br><br>


</form>
</div>

</section>

<script src="/js/login.js"></script>

