<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kyrpt Keeper's Home</title>
    <link rel="stylesheet" href="./main.css">

</head>

<body>
     <video autoplay muted loop id="myVideo">
     <source src= "./Assests/graveyard.mp4" type="video/mp4">
     </video>


    <h1>
    Krypt Keepers  HELLO! 
    </h1>
    <br><br><br><br>

    <p> Login </p>
    <p> Sign Up</p>
    <br><br>
   


    <div>
        <section> Haunted Attractions </section>
      
    </div>


    <br>
    <p> Contact </p>

 

</body>

</html>