<section class = "whitefont"><h1>Create Username and Password Below</h1>
<br><br>

<div class="signup-form">

    <form id="signup-form">
        <div>
            <input style="color:black;" type="text" placeholder="Username 🪦" id="username-signup"/>
            <div>
                <input style="color:black;" type="password" placeholder="Password 🪦" id="password-signup">
            </div>
            <div>
                <p>Up to 10 Characters: Password</p>
                <button type="submit">Sign Up</button>
            </div>
        </div>
    </form>
</div>
</section>


<script src="/js/signup.js"></script>
