<section class = "whitefont"><h1>Create Username and Password Below</h1>
<br><br>

<div class="signup-form">

    <form id="signup-form">
        <div>
            <input type="text" placeholder="username" id="username-signup"/>
            <div>
                <input type="password" placeholder="password" id="password-signup">
            </div>
            <div>
                <button type="submit">Sign Up</button>
            </div>
        </div>
    </form>
</div>
</section>


<script src="/js/signup.js"></script>
